@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css2?family=Poor+Story&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap);

@font-face {
  font-family: "bae";
  src: url("./Font/bae.ttf");
}

.app {
  background-color: #ffffff;
  text-align: center;
  font-family: "bae";
  color: #8e8b87;
  word-wrap: break-word;
  word-break: keep-all;
}

.app-fluid {
  padding-left: 0;
  padding-right: 0;
}

.app-header {
  margin-top: 20px;
  height: 80px;
  color: #8e8b87;
  font-family: "Lobster";
}

.app-footer {
  height: 100px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
}

.btn-icon {
  margin: 3px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 4px 6px;
  border-radius: 8px;
  background: #a9777a;
  color: #ffffff;
}

.btn-naver {
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 8px;
  background: #a9777a;
  color: #ffffff;
  width: 100%;
}

.map-image {
  margin-top: 10px;
  width: 100%;
  height: 95%;
}

.profile-image {
  width: 100%;
  height: 100%;
}

.nav-button {
  alignitems: center;
}

.btn-account {
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 8px;
  background: #a9777a;
  color: #ffffff;
}

.txt {
  font-size: 1.2rem;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.txt-head {
  font-size: 1.3rem;
  font-weight: bold;
}

.txt-title {
  font-size: 2.5rem;
  font-weight: bold;
}
